.deleteChatBox {
  background: #e6e6e6;
  position: absolute;
  height: 100vh;
  height: 150px;
  width: 400px;
  right: 50%;
  left: 30%;
  top: 20%;
  bottom: 50%;
  z-index: 10;
  border-radius: 10px;
}

.deleteChatBox > p {
  font-size: 18px;
  font-weight: 500;
  padding: 24px;
}

.deleteChatBox__buttons {
  display: flex;
  justify-content: space-around;
}
